.wrapper {
    background:#0F0D14; 

    background:  url(../../src/main/devices.png) -30px 0 no-repeat, url(../../src/header/background.png) 0 0 no-repeat;
    min-height: 100%; 
    max-width: 1440px; 
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(3,0.1fr);
}